<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" tags="EPiServerModulePackage" clientResourceRelativePath="1.0.0" viewEngine="Razor">
  <assemblies>
    <add assembly="BlendInteractive.Blit.Optimizely.UI" />
  </assemblies>
  <clientResources>
    <add name="blit-styles" path="clientResources/blend-main.css" resourceType="Style" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
	<add dependency="CMS" />
	<add dependency="Shell"/>
	<add dependency="EPiServer.Cms.UI.Admin" type="RunAfter"/>
	<add dependency="EPiServer.Cms.UI.Settings" type="RunAfter"/>
	</moduleDependencies>
    <requiredResources>
      <add name="blit-styles" />
    </requiredResources>
  </clientModule>
</module>